<% title "Messages" %>

<table>
  <tr>
    <th>Owner</th>
    <th>Msg</th>
  </tr>
  <% for message in @messages %>
    <tr>
      <td><%=h message.owner %></td>
      <td><%=h message.msg %></td>
      <td><%= link_to "Show", message_path(message.id) %></td>
      <td><%= link_to "Destroy", message_path(message.id), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Message", new_message_path %></p>
